@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.hero-bg {
  background-image: linear-gradient(to right bottom, #8b3e00e6, #8b3e00e6),
    url(./hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* styles.css */
input[type="radio"]:checked {
  accent-color: #8b3e00;
}

input{
  background-color: #FEFFF1;
}

.custom-input {
  background-color: #FEFFF1;
  border: 1px solid #ADADAD; /* Default border */
  border-radius: 4px;
}

/* Change border when input is filled */
.custom-input:not(:placeholder-shown) {
  border-color: #8b3e00; /* Green (or any color you prefer) */
}

.izIndex {
  z-index: 1;
}

/* Radial gradient overlay */
.gradient-overlay-login {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #ce5e02, transparent);
  pointer-events: none;
}

/* Radial gradient overlay for signup */
.gradient-overlay-signup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #ce5e02, transparent);
  pointer-events: none;
  /* z-index: -1; Ensure it stays behind other elements */
}

.placeholder-lightprimary::placeholder {
  color: var(--lightprimary);
}

/* styles.css or CustomDateSelector.module.css */
.react-calendar__navigation__label {
  background-color: #fff !important;
  border-radius: 0.5rem;
}

.react-calendar__month-view__weekdays {
  color: #000;
  text-transform: capitalize;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days button {
  height: 3rem;
  border-radius: 100%;
}

.react-calendar__month-view__days__day {
  color: #222;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #bbb;
}

.react-calendar__tile--active {
  background-color: #8b3e00;
  color: #fff;
}


/* Add to existing globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}