@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.hero-bg {
  background-image: linear-gradient(to right bottom, #8b3e00e6, #8b3e00e6),
    url(./hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Radial gradient overlay */
.gradient-overlay-login {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #ce5e02, transparent);
  pointer-events: none;
}

.gradient-overlay-signup {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  background-image: radial-gradient(circle, #ce5e02, transparent);
  pointer-events: none;
}

.placeholder-lightPrimaryColor::placeholder {
  color: var(--lightPrimaryColor);
}
